In [1]:
# import pandas library
import pandas as pd

In [2]:
# creating data 
raw_data = {'team': ['kiddies', 'kiddies', 'kiddies', 'kiddies', 'FireDogs', 'FireDogs', 'FireDogs', 'FireDogs', 'Mambaas', 'Mambaas', 'Mambaas', 'Mambaas'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'Lastname': ['Miller', 'Jackson', 'Smith', 'Williams', 'West', 'Jack', 'Ryaner', 'Stone', 'Sloan', 'Piper', 'Roesewood', 'Petaway'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [3]:
df = pd.DataFrame(raw_data, columns = ['team', 'company', 'Lastname', 'preTestScore', 'postTestScore'])
df

        team company   Lastname  preTestScore  postTestScore
0    kiddies     1st     Miller             4             25
1    kiddies     1st    Jackson            24             94
2    kiddies     2nd      Smith            31             57
3    kiddies     2nd   Williams             2             62
4   FireDogs     1st       West             3             70
5   FireDogs     1st       Jack             4             25
6   FireDogs     2nd     Ryaner            24             94
7   FireDogs     2nd      Stone            31             57
8    Mambaas     1st      Sloan             2             62
9    Mambaas     1st      Piper             3             70
10   Mambaas     2nd  Roesewood             2             62
11   Mambaas     2nd    Petaway             3             70

In [10]:
# preTestScore group by team name
team = df[['preTestScore']].groupby(df['team'])
list(team)

[('FireDogs',    preTestScore
  4             3
  5             4
  6            24
  7            31), ('Mambaas',     preTestScore
  8              2
  9              3
  10             2
  11             3), ('kiddies',    preTestScore
  0             4
  1            24
  2            31
  3             2)]

In [20]:
# preTestScore group by team name
team = df[['preTestScore']].groupby(df['team']).describe()
team

         preTestScore
                count   mean        std  min   25%   50%    75%   max
team
FireDogs          4.0  15.50  14.153916  3.0  3.75  14.0  25.75  31.0
Mambaas           4.0   2.50   0.577350  2.0  2.00   2.5   3.00   3.0
kiddies           4.0  15.25  14.453950  2.0  3.50  14.0  25.75  31.0

In [21]:
# preTestScore group by team name and company
team = df[['preTestScore']].groupby([df['team'], df['company']])
list(team)

[(('FireDogs', '1st'),    preTestScore
  4             3
  5             4), (('FireDogs', '2nd'),    preTestScore
  6            24
  7            31), (('Mambaas', '1st'),    preTestScore
  8             2
  9             3), (('Mambaas', '2nd'),     preTestScore
  10             2
  11             3), (('kiddies', '1st'),    preTestScore
  0             4
  1            24), (('kiddies', '2nd'),    preTestScore
  2            31
  3             2)]

In [22]:
#In this line of code we are listing the number observations (row) in each team and company. 
df.groupby(['team', 'company']).size()

team      company
FireDogs  1st        2
          2nd        2
Mambaas   1st        2
          2nd        2
kiddies   1st        2
          2nd        2
dtype: int64

In [27]:
gg = df.groupby('team')
list(gg)

[('FireDogs',        team company Lastname  preTestScore  postTestScore
  4  FireDogs     1st     West             3             70
  5  FireDogs     1st     Jack             4             25
  6  FireDogs     2nd   Ryaner            24             94
  7  FireDogs     2nd    Stone            31             57),
 ('Mambaas',        team company   Lastname  preTestScore  postTestScore
  8   Mambaas     1st      Sloan             2             62
  9   Mambaas     1st      Piper             3             70
  10  Mambaas     2nd  Roesewood             2             62
  11  Mambaas     2nd    Petaway             3             70),
 ('kiddies',       team company  Lastname  preTestScore  postTestScore
  0  kiddies     1st    Miller             4             25
  1  kiddies     1st   Jackson            24             94
  2  kiddies     2nd     Smith            31             57
  3  kiddies     2nd  Williams             2             62)]

In [31]:
# Lastly, let's group the dataframe by team, for each team. 
for name, group in df.groupby('team'): 
    # print the name of the team
    print(name)
    # print the data of that team
    print(group)

FireDogs
       team company Lastname  preTestScore  postTestScore
4  FireDogs     1st     West             3             70
5  FireDogs     1st     Jack             4             25
6  FireDogs     2nd   Ryaner            24             94
7  FireDogs     2nd    Stone            31             57
Mambaas
       team company   Lastname  preTestScore  postTestScore
8   Mambaas     1st      Sloan             2             62
9   Mambaas     1st      Piper             3             70
10  Mambaas     2nd  Roesewood             2             62
11  Mambaas     2nd    Petaway             3             70
kiddies
      team company  Lastname  preTestScore  postTestScore
0  kiddies     1st    Miller             4             25
1  kiddies     1st   Jackson            24             94
2  kiddies     2nd     Smith            31             57
3  kiddies     2nd  Williams             2             62